body{
    overflow-x: hidden;
}
.con{
    width: 250px;
    margin: 25px;
    box-shadow:initial;
    /* height: 580px; */
    /* border: 2px solid black; */
}
/* .card-container:hover{

    position: relative;
    transform: scale(1.1);
} */

.card-container{
    display: inline-block;
    margin: auto;
}
img{
    max-width: 100%;
    object-fit: cover;
    height: 380px;
}
.title{
    display: block;
    width: 210px;
    height: 50px;
    /* border: 2px solid black; */
}
a{
    margin-right: 42px;
}
